* {
    font-family: 'Franklin Gothic Medium', sans-serif;
   margin: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(90deg, rgb(15, 88, 122) 21%, rgb(45, 67, 212) 42%, rgba(13, 28, 96, 1) 100%);

}

section {
    /* border: red 3px solid; */
    display: flex;
    background-color: rgba(56, 18, 18, 0);
    width: 65%;
    text-transform: uppercase;
    margin-left: 2%;
    margin-right: 2%;
}

.coluna .celula {
    font-size: 30px;
    border: rgba(0, 0, 0, 0) 2px solid;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;

}

.coluna .celula1 {
    font-size: 25px;
    border: rgb(0, 0, 0) 2px solid;
    width: 35px;
    height: 35px;
    border-radius: 25%;
    background-color: rgba(254, 252, 252, 0);
    text-align: center;
    text-decoration: wavy;



}

.sla {
    /* border: 3px red solid; */
    width: 50%;
    height: 150vh;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

section input {
    font-size: 30px;
    border: rgb(0, 0, 0) 2px solid;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.sla #quest {
    color: aliceblue;
    /* border: red 3px solid; */
    border-radius: 20px;
    width: 83%;
    height: 90%;
    background: rgb(10, 19, 28);
/* font-style: normal; */
text-align: justify;

}
.sla ol{
    margin-right: 10%;
}
